header{
	width: 100%;
    max-width: 2000px;
	height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
    
    overflow: hidden;
    
	position: relative;
	top: 0;

    nav {
        position: fixed;
        z-index: 50;
    }
    
    .my-name {
        width: inherit;
        max-width: inherit;

        margin-top: 50px;

        h1, h2 {
            text-align: center;

            position: relative;
            z-index: 40;
        
            transition: all 1s;
        }
    }

    .my-photo {
        width: 450px;
        height: 450px;
    
        border-radius: 50%;
        margin-top: 100px;

        position: relative;
        z-index: 55;
    
        transition: all 1s;
    }
}