 // COLORS //////////////////////
////////////////////////////////

$primary-color: rgb(3, 114, 186);
$gradient-color-a: rgb(62, 144, 199);
$gradient-color-b: rgb(27,38,166);



 // SIZES ///////////////////////
////////////////////////////////

$window-width: 100vw;
$window-height: 100vh;