.wip {
	padding: 30px;
	padding-top: 60px;
	left: 30px;

	background-color: rgba(251, 169, 27, 0.75);

	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;

	position: fixed;
	z-index: 1000;
    
    img {
        width: 200px;
    }
}